$maxWidth: 312px
$maxHeight: 312px

@mixin box-sizing($val)
  box-sizing: $val
  -moz-box-sizing: $val

@mixin transition($val)
  -webkit-transition: $val
  -moz-transition: $val
  transition: $val

body
  color: #333
  font: 13px Helvetica, arial, freesans, clean, sans-serif
  margin: 0

html
  overflow: hidden

//#gitter
//  -webkit-transform-style: preserve-3d
//  -webkit-perspective: 1000px
//  transform-style: preserve-3d
//  perspective: 1000px

.wrapper
  width: $maxWidth
  height: $maxHeight
  margin-top: -$maxHeight / 2
  margin-left: -$maxWidth / 2
  text-align: center
  +box-sizing(border-box)
  pointer-events: none

.cover
  position: absolute
  top: 0
  left: 0
  height: 96px
  width: 96px
  border-radius: 50%
  background: rgba(0,0,0,0)
  +box-sizing(border-box)
  border: 48px solid #e5e5e5
  pointer-events: none

  &.splat
    border-width: 5px
    width: $maxWidth
    height: $maxHeight
    +transition(all .15s ease-out)

.drop
  display: inline-block
  height: 96px
  width: 96px
  margin: 108px
  border-radius: 50%
  background: #f3f3f3
  +box-sizing(border-box)
  opacity: 1
  overflow: hidden
  font-size: 18px
  pointer-events: none

  a
    pointer-events: auto
    text-decoration: none
    font-weight: bold
    color: #222

    &:hover
      text-decoration: underline

  &.splat
    margin: 0
    width: $maxWidth
    height: $maxHeight
    padding: 30px
    +transition(all .15s ease-out)

  .avatar
    margin-bottom: 20px
    border-radius: 50%
    width: 96px
    height: 96px

#controls
  position: absolute
  top: 0
  left: 50%
  width: 500px
  margin-left: -250px
  background: #f3f3f3
  border: 5px solid #e5e5e5
  border-top: none
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4)

.customSelect
  background: #e5e5e5
  padding: 10px 40px 10px 10px

  &:after
    border: 4px solid #333
    border-right-color: transparent
    border-left-color: transparent
    border-bottom-color: transparent
    content: ""
    position: relative
    top: 10px
    left: 10px
